body {
  background-color: #0d0d0d;
  font-family: 'Orbitron', sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
}

.btn-return {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;

}


h2 {
    color: #ff0044;
 }

.contact-fullscreen {
  height: 100vb;
  width: 100%;
  background-color: #000;
  position: relative;
  z-index: 3;
  padding: 0;
}

.contact-link {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.neon-link {
  color: #ff0044;
  font-family: 'Orbitron', sans-serif;
  text-decoration: none;
  text-shadow: 0 0 5px #ff0044, 0 0 15px #ff004455;
  transition: 0.3s;
}

.neon-link:hover {
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 20px #ff0044;
}

.fixed-signature {
  position: fixed;
  bottom: 20px;
  width: 100%;
  font-size: 14px;
  font-family: 'Inter', sans-serif;
  z-index: 100;
  opacity: 0.6;
}

.fixed-signature a {
  color: #999;
  text-decoration: none;
  transition: opacity 0.3s, color 0.3s;
}

.fixed-signature a:hover {
  color: #ccc;
  opacity: 1;
}

.contact-link {
  font-size: 1.1rem;
  margin: 0.3rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  perspective: 600px; /* perspective pour la 3D */
}

.big-icon {
  font-size: 4rem; /* Icônes plus grosses */
  filter:
    drop-shadow(3px 3px 2px #ff004480)
    drop-shadow(-2px -2px 1px #ff4c6b80);
  color: #ff0044;
  text-shadow:
    0 0 10px #ff0044,
    0 0 20px #ff0044aa,
    0 0 30px #ff0044cc;
}

/* Rotation 3D inchangée */
.contact-link {
  font-size: 1.4rem;
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  perspective: 800px;
}

.spin-3d {
  display: inline-block;
  animation: spin3D 5s linear infinite;
  transform-style: preserve-3d;
}

@keyframes spin3D {
  0% {
    transform: rotateY(0deg) ;
  }
  50% {
    transform: rotateY(180deg) ;
  }
  100% {
    transform: rotateY(360deg) ;
  }
}
